<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pc-ios-final-project-alpha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D83B3C71BB73F9D00A36DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D83B3DB1BB73F9D00A36DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D83B3E61BB73F9D00A36DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
